/* sizes everything from withing a box. breaks code if deleted */
*{
  box-sizing: border-box;
}

body{
  background: url("../images/dust_back.png") repeat;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: auto;
}

.content {
  margin-left: 10px;
}

/* Title Styling */
.title {
  background: #FCFFF5;
  width: 350px;
  margin: 6px 0 0 10px;
}

.title h1 {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #777;
}

/* Game Info Box */
#info {
  background: #D1DBBD;
  width: 450px;
  padding: 20px 5px 100px 5px;
}

/* Number Gen and Counter */
#counter, #random {
  float: left;
}

#random {
  padding: 5px 40px 40px 5px;
  background: #91AA9D;
  width: 250px;
  margin-right: 15px;
}

#counter {
  width: 110px;;
  padding: 10px 5px 16px 5px;
  background: #3E606F;
  color: #ccc;
}

#random p {
  font-size: 30px;
}

/* Button property prevents floating left */
.btn-block {
  overflow: hidden;
}

.btn-outline-light {
  border: 0px solid transparent;
  background-color: transparent;
  outline: none;
}

/* Score Blocks */
#score_info, #total {
  background: #193441;
  width: 250px;
  margin-right: 15px;
  color: #ccc;
}

#score_info {
  padding: 5px 10px 5px 5px;
}

#total {
  padding: 5px 40px 32px 5px;
  /* margin-bottom: 5px; */
}

#total p {
  font-size: 30px;
}

/* Adjusting margins for all elements */
.title, .btn-block, #info, #counter, #random, #score_info {
  margin-bottom: 12px;
}